<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/images/logos/manlogo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Berkay Genceroğlu</p>
                <a href="#"><i class="fa fa-circle"></i>Çevrimiçi</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>
            <li> <a href="/Default/DefaultPage"> <i class="fa-solid fa-house "></i> <span>Anasayfa</span></a> </li>
            <li> <a href="/Admin/Statistics/StatisticsPage"> <i class="fa-solid fa-chart-pie "></i> <span>Dashboard</span></a> </li>
            <li> <a href="/Admin/ECommerceRapidApi/Index"> <i class="fa-brands fa-google"></i> <span>Online Ürün Ara</span></a> </li>
            <li> <a href="/Admin/Category/CategoryList"> <i class="fa-solid fa-tags "></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/ProductListWithCategory">  <i class="fa-solid fa-box-open "></i>  <span>Ürünler</span></a> </li>
            <li> <a href="/Admin/Comment/CommentList"> <i class="fa-solid fa-comment "></i> <span>Yorumlar </span></a> </li>
            <li> <a href="/Admin/FeatureSlider/FeatureSliderList"> <i class="fa-solid fa-images "></i> <span>Sliderlar</span></a> </li>
            <li> <a href="/Admin/Feature/FeatureList"> <i class="fa-solid fa-building "></i> <span>Öne Çıkan Özellikler</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/SpecialOfferList"> <i class="fa-solid fa-plane "></i> <span>Öne Çıkan İndirimler</span></a> </li>
            <li> <a href="/Admin/Brand/BrandList"> <i class="fa-solid fa-handshake "></i> <span>Markalar</span></a> </li>
            <li> <a href="/Admin/OfferDiscount/OfferDiscountList"> <i class="fa-solid fa-bullhorn "></i> <span>Özel İndirimler </span></a> </li>
            <li> <a href="/Admin/About/AboutList"> <i class="fa-solid fa-university "></i> <span> Hakkımda </span></a> </li>
            <li> <a href="/Admin/User/UserList"> <i class="fa-solid fa-users "></i> <span> Kullanıcı Listesi </span></a> </li>
            <li> <a href="/Admin/Cargo/CargoCompanyList"> <i class="fa-solid fa-bus "></i> <span> Kargo </span></a> </li>
            <li> <a href="/Admin/Order/OrderList"> <i class="fa-solid fa-shopping-basket "></i> <span> Sipariş Listesi </span></a> </li>
            <li> <a href="/Admin/About/AboutList"> <i class="fa-solid fa-arrow-right-from-bracket"></i><span> Çıkış Yap </span></a> </li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
