@model CreateCargoCompanyDto
@{
    ViewData["Title"] = "AddCargoCompany";
    Layout = "~/Areas/Admin/Views/AdminUILayout/UILayout.cshtml";

}

<section class="content container-fluid">
    <div style="display:flex; justify-content:center;">
        <div style="width:600px;">
            <div class="chart-box">
                <h4 class="text-center">Kargo Firması Ekleme Formu</h4>
                <p>Kargo ile ilgili işlemlerinizi aşağıdaki Panel üzerinden gerçekleştirebilirsiniz.</p>
                <br />
                <form method="post">
                    <label class="form-label" style="font-weight: 500;">Firma Adı</label>
                    <input type="text" class="form-control" asp-for="CargoCompanyName" />
                    <br />
                    <button type="submit" class="btn btn-primary">Firmayı Ekle</button>
                </form>
            </div>
        </div>
    </div>
</section>

