@model List<ResultCategoryDto>
@{
    Layout = null;
}

<div class="container">
    <table class="table table-bordered"> 
        <tr>
        <thead>
            Kategori Adı
       </thead>
        @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                </tr>
            }
    </table>
</div>