
@{
    ViewData["Title"] = "ContactPage";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Bize Yazın</span></h2>
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_FormContactComponentPartial")

        @await Component.InvokeAsync("_MapAndInformationContactComponentPartial")
    </div>
</div>
<!-- Contact End -->
