@model UpdateBrandDto

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminUILayout/UILayout.cshtml";
}

<section class="content container-fluid">
    <div style="display:flex; justify-content:center;">
        <div style="width:600px;">
            <div class="chart-box">
                <h4 class="text-center">Marka Güncelle Formu</h4>
                <p>Marka ile ilgili işlemlerinizi aşağıdaki Panel üzerinden gerçekleştirebilirsiniz.</p>
                <br />
                <form method="post">
                    <input type="hidden"  asp-for="BrandId" />
                    <label class="form-label" style="font-weight: 500;">Marka Adı</label>
                    <input type="text" class="form-control" asp-for="BrandName" />
                    <br />
                    <label class="form-label" style="font-weight: 500;">Marka Görsel Url</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <br />
                    <button type="submit" class="btn btn-primary">Marka Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</section>

