
@{
    Layout = null;
}

<div class="container">
    <div class="alert alert-warning">
        <h1>Dolar Alış:@ViewBag.exchange_rateUsd</h1>
        <h1>Dolar Satış:@ViewBag.previous_closeUsd</h1>
    </div>

    <div class="alert alert-success">
        <h1>Euro Alış:@ViewBag.exchange_rateEur</h1>
        <h1>Euro Satış:@ViewBag.previous_closeEur</h1>
    </div>
</div>