@model UpdateOfferDiscountDto

@{
    ViewData["Title"] = "UpdateOfferDiscount";
    Layout = "~/Areas/Admin/Views/AdminUILayout/UILayout.cshtml";
}

<section class="content container-fluid">
    <div style="display:flex; justify-content:center;">
        <div style="width:600px;">
            <div class="chart-box">
                <h4 class="text-center">Özel İndirim Teklifi Güncelle Formu</h4>
                <p>Özel İndirim Teklifi ile ilgili işlemlerinizi aşağıdaki Panel üzerinden gerçekleştirebilirsiniz.</p>
                <br />
                <form method="post">
                    <input type="hidden" asp-for="OfferDiscountId" />
                    <label class="form-label" style="font-weight: 500;">Teklif Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <br />
                    <label class="form-label" style="font-weight: 500;">Teklif Alt Başlık</label>
                    <input type="text" class="form-control" asp-for="SubTitle" />
                    <br />
                    <label class="form-label" style="font-weight: 500;">Buton Başlık</label>
                    <input type="text" class="form-control" asp-for="ButtonName" />
                    <br />
                    <label class="form-label" style="font-weight: 500;">Görsel</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <br />
                    <button type="submit" class="btn btn-primary">Özel İndirim Teklifi Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</section>  

