@model CreateFeatureDto

@{
    ViewData["Title"] = "AddFeature";
    Layout = "~/Areas/Admin/Views/AdminUILayout/UILayout.cshtml";
}

<section class="content container-fluid">
    <div style="display:flex; justify-content:center;">
        <div style="width:600px;">
            <div class="chart-box">
                <h4 class="text-center">Öne Çıkan Özellik Ekleme Formu</h4>
                <p>Öne Çıkan Özellikler ile ilgili işlemlerinizi aşağıdaki Panel üzerinden gerçekleştirebilirsiniz.</p>
                <br />
                <form method="post">
                    <label class="form-label" style="font-weight: 500;">Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <br />
                    <label class="form-label" style="font-weight: 500;">İkon</label>
                    <input type="text" class="form-control" asp-for="Icon" />
                    <br />
                    <button type="submit" class="btn btn-primary">Öne Çıkan Özellik Ekle</button>
                </form>
            </div>
        </div>
    </div>
</section>
